*~
*.o
*.orig
*.tx
*.txid
*.pr
*.gcda
*.gcno
*.dSYM
*.rej
*.po
*.pyc
.cppcheck-suppress
TAGS
tags
ccan/tools/configurator/configurator
ccan/ccan/cdump/tools/cdump-enumstr
gen_*
cli/lightning-cli
tools/check-bolt
tools/hsmtool
coverage
ccan/config.h
__pycache__
config.vars

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Pycharm
.DS_Store
.idea

# Ignore some generated binaries
*/test/run-*
!*/test/run-*.c
external/libbacktrace-build/
external/libbacktrace.a
external/libbacktrace.la
test/test_protocol
test/test_sphinx
tests/.pytest.restart
gossip_store
.pytest_cache
tools/headerversions
.tmp.lightningrfc/
contrib/pylightning/build/
contrib/pylightning/dist/
contrib/pylightning/pylightning.egg-info/
contrib/pyln-*/build/
contrib/pyln-*/dist/
logs/
.polyaxon/
dataloader/tmp.py
lightning_logs/
eval/media*
eval
venv
